@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/gilroy-font/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter-font/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/urbanist-font/static/Urbanist-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

.linerGradientBackgroundModal {
  /* background: linear-gradient(176deg, #414593 0%, #00022E 100.23%); */
  /* background: linear-gradient(165deg, #414593 0%, #00022E 39.23%); */
  background: linear-gradient(180deg, #414593 -15%, #00022e 21.23%);
}
.buttonColor {
  background: linear-gradient(179deg, #414593 0% 0%, #00022e 116.23%);
}
.modalBackground {
  background: linear-gradient(176.81deg, #414593 0%, #00022e 100.23%);
}
.modalBoxShadow {
  box-shadow: 0px 1.26px 12.26px 0px #000000;
}

.overflowYAuto::-webkit-scrollbar {
  display: none;
}

.overflowYAuto {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflowXAuto::-webkit-scrollbar {
  display: none;
}

.overflowXAuto {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  position: relative;
  display: flex;
  padding-left: 24px;
  font-size: 11px;
  color: white;
  font-weight: 500;
  align-items: center;
  padding-top: 2px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #2c2c35;
}

.container input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #2c2c35;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sliderClose {
  animation: sliderClose 0.5s ease-in-out;
  left: -400px;
}
@keyframes sliderClose {
  0% {
    left: 0%;
  }
  100% {
    left: -400px;
  }
}
.sliderOpen {
  animation: sliderOpen 0.5s ease;
  left: 0%;
}
@keyframes sliderOpen {
  0% {
    left: -345px;
  }
  100% {
    left: 0%;
  }
}

.sliderWidthControl {
  animation: sliderWidth 0.5s alternate;
  animation-delay: 0.1s;
  width: 0%;
}

@keyframes sliderWidth {
  0% {
    width: 27%;
  }
  100% {
    width: 0%;
  }
}

.loadingTableANimation {
  animation: tableAnimation 0.5s ease;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.5;
  height: 100%;
  width: 90%;
  rotate: 190deg;
  filter: blur(24px);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tableAnimation {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

.employeeLoader {
  td {
    height: 70px;
    vertical-align: middle;
    padding-right: 5px;
    span {
      display: block;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to right,
        #00022e 20%,
        #1e2c6d 50%,
        #00022e 80%
      );
      background-size: 500px 100px;
      animation-name: moving-gradient;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}

.loader {
  height: 30px;
  width: 100%;
  background: linear-gradient(to right, #00022e 20%, #1e2c6d 50%, #00022e 80%);
  background-size: 500px 100px;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 30px;
}

.departmentLoader {
  background: #00022e;
  border-radius: 30px;
}
.departmentLoaderChildren {
  background: linear-gradient(to right, #1e2c6d 20%, #00022e 50%, #1e2c6d 80%);
  background-size: 500px 100px;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 30px;
}
.departmentLoaderChildren2 {
  height: 30px;
  width: 100%;
  background: linear-gradient(to right, #1e2c6d 20%, #00022e 50%, #1e2c6d 80%);
  background-size: 500px 100px;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 30px;
}

.darkBackground {
  background-color: black !important;
}

.dark .linerGradientBackgroundModal {
  background: linear-gradient(180deg, #5c5c5c -15%, #000000 21.23%);
}

.dark .buttonColor {
  background: linear-gradient(180deg, #5c5c5c -28%, #1c1c1c 39.23%);
}

.sideBarBackground {
  /* background: linear-gradient(#414593, #00022E); */
  background: linear-gradient(176.81deg, #414593 0%, #00022e 100.23%);
}

.selectedSideBarOption {
  background: linear-gradient(
    90deg,
    #ff073a -156.38%,
    rgba(255, 7, 58, 0) 108.84%
  );
}
.bodyBackground {
  /* background: linear-gradient(#414593, #00022E); */
  background: linear-gradient(176.81deg, #414593 0%, #00022e 100.23%);
}

.blurBackground {
  background: linear-gradient(
    103.31deg,
    rgba(255, 255, 255, 0) -9.33%,
    rgba(255, 255, 255, 0.234) 119.91%
  );
}
.blurBorder {
  border: 2px solid;
  border-image-source: radial-gradient(
    81.2% 206.16% at 48.61% 65.05%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.cardsBorder {
  border: 2px solid transparent; /* Important: use transparent base */
  border-image: linear-gradient(
    103.31deg,
    rgba(255, 255, 255, 0) -9.33%,
    rgba(255, 255, 255, 0.234) 119.91%
  );
  border-image-slice: 1; /* Ensures the full gradient is used */
  border-image-repeat: stretch; /* Default; can use 'round' or 'repeat' if needed */
  border-radius: 8px; /* Optional: to round the corners */
}

.boxShadow {
  box-shadow: 0px 11.93px 30.38px 0px #00000040;
}

.containerCheckMarkMarket {
  position: relative;
  display: flex;
  padding-left: 37px;
  color: white;
  font-weight: 500;
  align-items: center;
  padding-top: 2px;
  height: 27px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerCheckMarkMarket input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkMarket {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  border-radius: 100%;
  border: 2px solid #929292;
}

.containerCheckMarkMarket input:checked ~ .checkmarkMarket {
  background-color: transparent;
  border: 2px solid white;
}

.checkmarkMarket:after {
  content: "";
  position: absolute;
  display: none;
}

.containerCheckMarkMarket input:checked ~ .checkmarkMarket:after {
  display: block;
}

.containerCheckMarkMarket .checkmarkMarket:after {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}